<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="assets/dist/css/bootstrap.min.css">
  <link href="assets/dist/css/styles.css" rel="stylesheet" /> 
  <link href="assets/dist/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
  
  <title>Administracion de habitaciones </title>
</head>

<body>
  </form>
  <main>
    <div class="container-fluid">
      <h1 class="mt-4">Administracion de habitaciones</h1>

      <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="">Inicio</a></li>
        <li class="breadcrumb-item active">Habitaciones</li>
      </ol>


      <div class="card-body">
        <!--FORMULARIO-->
        <form action="ControlHabitacion" method="Post">
          <div class="form-row">
            <div class="col-md-6 mb-2">
              <label>Habitacion:</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-id-card"></i></span>
                </div>
                <select name="habitacion" id="">
                  <option value="">Seleccione una habitacion</option>
                  <script>

                    var habitaciones = 20;
                    for (var i = 1; i <= habitaciones; i++) {
                      document.write('<option value="+ i +"> Habitacion ' + i +'</option>');
                    }
                  </script>

                </select>
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label>Precio por dia:</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-donate"></i></span>
                </div>
                <input type="text" placeholder="" name="pre" value='' />
              </div>
            </div>

          </div>

          <div class="form-row">
            <div class="col-md-6 mb-2">
              <label>Estado:</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-align-left"></i></span>
                </div>
                <select name="estado" id="">
                  <option value="">Seleccione un estado</option>
                  <option value="">Disponible</option>
                  <option value="">Ocupada</option>
                  <option value="">Reservada</option>
                  <option value="">Mantenimiento</option>
                </select>
              </div>
            </div>
            <div class="col-md-6 mb-2">
              <label>Calificacion promedio:</label>
              <div class="input-group">
                <div class="input-group-prepend">

                </div>
                <label>4.0</label>
              </div>
            </div>

          </div>

          <div class="form-row">
            <div class="col-md-3 md-3">
              <div class="input-group">
                <input type="submit" class="btn btn-primary btn-block" name="acc" value="Nueva Habitacion" />
              </div>
            </div>

            <div class="col-md-3 mb-3">
              <div class="input-group">
                <input type="submit" class="btn btn-primary btn-block" name="acc" value="Eliminar Habitacion" />
              </div>
            </div>

            <div class="col-md-3 mb-2">
              <div class="input-group">
                <input type="submit" class="btn btn-primary btn-block" name="acc" value="Buscar" />
              </div>
            </div>

            <div class="col-md-3">
              <div class="input-group">
                <input type="submit" class="btn btn-primary btn-block" name="acc" value="Actualizar" />
              </div>
            </div>
          </div>

        </form>
        <!--FIN FORMULARIOS-->
      </div>
    </div>
    </div>
  </main>

</body>

</html>