{% extends "base.html" %}
{% block principal %}
<!-- ============================ Divisor izquierdo reserva  =================================== -->
    {% from "_macro.html" import render_field %}
    {% from "_macro.html" import render_buttonfield %}
    <div class="container py-1  px-5  " >
        <div class="row text-center">
            <div class="p-2 col text-center mb-4 gradient-navbar" >
                <h3 class=" text-light " >Bienvenido Sample User</h3>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="d-flex col-sm-12 col-md-4 col-lg-4 col-xl-4 w-40 " >
                <!-- ========================================================================================================================== -->
                <!-- Fotos que salen y cambian================================================================================================= --> 
                <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                
                            <div class="container">
                                <h1 class="carousel-caption">Suite Gevora</h1>
                                <img class="card-img-top" src="{{ url_for('static', filename='images/248139729.jpg') }}" alt="Card image cap">
                            </div>
                        </div>
                        <div class="carousel-item">
                
                            <div class="container">
                                <img class="card-img-top" src="{{ url_for('static', filename='images/65685321.jpg') }}">
                            </div>
                        </div>
                        <div class="carousel-item">
                
                            <div class="container">
                                <img class="card-img-top" src="{{ url_for('static', filename='images/65685326.jpg') }}" alt="Card image cap">
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    </button>
                    <button class="carousel-control-next m-0" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    </button>
                </div>
                <!-- ============================================================================================== -->
            </div>
        </div>
        <div class="row justify-content-center  ">
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 py-3 px-4 bg-white w-75 ">
                <h2 class="mb-xxl-5 text-center">Historial de Reservas</h2>
                <table class="table  table-striped " style="background-color: #3590bb;">
                    <thead>
                        <tr>
                            <th class="centrado text-light">Fecha Checkin</th>
                            <th class="centrado text-light">Fecha CheckOut</th>
                            <th class="centrado text-light justify-content-center text-center">Habitacion</th>
                            <th class="centrado text-light">Estado</th>
                            <th class="centrado text-light">Costo</th>
                            <th class="centrado text-light">calificación</th>
                            <th class="centrado text-light">calificar</th>
                        </tr>
                    </thead>
                    <tbody >
                        {% for reserv in lreservas %}
                            <tr style="background-color: #aaebff;">
                                <td class="centrado">{{reserv[3]}}</td>
                                <td class="centrado">{{reserv[4]}}</td>
                                <td class="centrado  text-center">{{reserv[2]}}</td>
                                <td class="centrado">{{reserv[6]}}</td>
                                <td class="centrado">{{reserv[5]}}</td>
                                <th class="centrado">
                                {% for cont in range(0, 5) %}
                                    {% set number = reserv[7] | int %}
                                    {% if cont < number %} 
                                        <img src="{{ url_for('static', filename='images/icons8-star-48.png') }}" alt="" width="15%">
                                    {% else %}
                                        <img src="{{ url_for('static', filename='images/icons8-star-dark.png') }}" alt="" width="15%">
                                    {% endif %}
                                {% endfor%}
                                </th>
                                <th class="centrado justify-content-center ">
                                    <a href="#"><img src="{{ url_for('static', filename='images/Calificar.png') }}" alt="" width="50%"></a>
                                </th>
                            </tr>
                        {% endfor%}
<!--                         
                        <tr style="background-color: #aaebff;">
                            <td class="centrado">1</td>
                            <th class="centrado">02/05/2019</th>
                            <th class="centrado">06/06/2019</th>
                            <th class="centrado">09/06/2019</th>
                            <th class="centrado">203</th>
                            <th class="centrado">2</th>
                            <th class="centrado">
                                <img src=" {{ url_for('static', filename='images/icons8-star-48.png') }}" alt="" width="10%">
                                <img src=" {{ url_for('static', filename='images/icons8-star-48.png') }}" alt="" width="10%">
                                <img src=" {{ url_for('static', filename='images/icons8-star-48.png') }}" alt="" width="10%">
                                <img src=" {{ url_for('static', filename='images/icons8-star-48.png') }}" alt="" width="10%">
                                <img src=" {{ url_for('static', filename='images/icons8-star-48.png') }}" alt="" width="10%">
                            </th>
                            <th class="centrado justify-content-center ">
                                <a href="#"><img src="{{ url_for('static', filename='images/Calificar.png') }}" alt="" width="50%"></a>
                            </th>
                        </tr>
                        <tr style="background-color: #6eb1c7;">
                            <td class="centrado">2</td>
                            <th class="centrado">02/05/2019</th>
                            <th class="centrado">06/06/2019</th>
                            <th class="centrado">09/06/2019</th>
                            <th class="centrado">203</th>
                            <th class="centrado">2</th>
                            <th class="centrado">
                                <img src=" {{ url_for('static', filename='images/icons8-star-48.png') }}" alt="" width="10%">
                                <img src=" {{ url_for('static', filename='images/icons8-star-48.png') }}" alt="" width="10%">
                                <img src=" {{ url_for('static', filename='images/icons8-star-48.png') }}" alt="" width="10%">
                                <img src=" {{ url_for('static', filename='images/icons8-star-48.png') }}" alt="" width="10%">
                                <img src=" {{ url_for('static', filename='images/icons8-star-48.png') }}" alt="" width="10%">
                            </th>
                            <th class="centrado justify-content-center ">
                                <a href="#"><img src="{{ url_for('static', filename='images/Calificar.png') }}" alt="" width="50%"></a>
                            </th>
                        </tr>
                        <tr style="background-color: #aaebff;">
                            <td class="centrado">3</td>
                            <th class="centrado">02/05/2019</th>
                            <th class="centrado">06/06/2019</th>
                            <th class="centrado">09/06/2019</th>
                            <th class="centrado">203</th>
                            <th class="centrado">2</th>
                            <th class="centrado">
                                <img src="../src/img/icons8-star-48.png" alt="" width="10%">
                                <img src="../src/img/icons8-star-48.png" alt="" width="10%">
                                <img src="../src/img/icons8-star-48.png" alt="" width="10%">
                                <img src="../src/img/icons8-star-48.png" alt="" width="10%">
                                <img src="../src/img/icons8-star-48.png" alt="" width="10%">
                            </th>
                            <th class="centrado justify-content-center ">
                                <a href="#"><img src="../src/img/Calificar.png" alt="" width="50%"></a>
                            </th>
                        </tr>
                        <tr style="background-color: #6eb1c7;">
                            <td class="centrado">4</td>
                            <th class="centrado">02/05/2019</th>
                            <th class="centrado">06/06/2019</th>
                            <th class="centrado">09/06/2019</th>
                            <th class="centrado">203</th>
                            <th class="centrado">2</th>
                            <th class="centrado">
                                <img src="../src/img/icons8-star-48.png" alt="" width="10%">
                                <img src="../src/img/icons8-star-48.png" alt="" width="10%">
                                <img src="../src/img/icons8-star-48.png" alt="" width="10%">
                                <img src="../src/img/icons8-star-48.png" alt="" width="10%">
                                <img src="../src/img/icons8-star-dark.png" alt="" width="10%">
                            </th>
                            <th class="centrado justify-content-center ">
                                <a href="#"><img src="../src/img/Calificar.png" alt="" width="50%"></a>
                            </th>
                        </tr> -->
                    </tbody>
                </table>
            </div>
        </div>
        <!-- <div class="b-example-vr"></div> -->
    </div>
{% endblock %}
 